h1= @topic.name

h2 コメント一覧
- @topic.comments.each.with_index do |comment, index|
  .comment
    p= "#{index+1}. #{comment.created_at.strftime("%Y/%m/%d %H:%M")}"
    p= h(comment.body).gsub("\n", '<br>').html_safe

h2 コメントを投稿する
= form_for [@topic, @comment] do |f|
  label 内容
  = f.text_area :body
  input(type="submit" value="作成")

p
  a(href="/") トップへ
