doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no")
    title BBS
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  body
    - if notice
      p= notice
    - if alert
      p= alert
    - if @validation_errors
      - @validation_errors.each do |msg|
        p= msg

    = yield
